@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Rubik+Gemstones&display=swap');

.header {
    background: url(../../assets/header4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header__title {
    color: whitesmoke;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 10px;
    padding-right: 15px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-shadow: 2px 2px 4px #b38867;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    font-family: 'Rubik Gemstones', cursive;
    font-size: 2.5rem;
}

.header__content {
    background-color: rgba(0, 0, 0, 40%);
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    color: white;
}

.header__content-moto {
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
}

.header__content-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 8px white;
    width: 250px;
}

.form__input {
    outline: none;
    border: none;
    color: gray;
    background-color: black;
    font-size: 1rem;
    height: 25px;
}

.form__button {
    width: 25px;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
}

.form__buttom {
    margin-top: 7px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
} 

.header__todos {
    position: absolute;
    bottom: 0;
    margin-bottom: -75px;
    left: auto;
    right: auto;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    height: 150px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__todos-img {
    width: 60px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .header__content {
        width: 400px;
    }
}

@media only screen and (max-width: 425px) {
    .header__content {
        width: 95%;
    }

    .form__input {
        width: 200px;
    }
}